{% extends 'base.html' %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/detalle_beneficiario.css' %}">
    <style>
        .imagen-container {
            max-width: 200px; /* Ajusta el ancho máximo según tus necesidades */
            max-height: 200px; /* Ajusta la altura máxima según tus necesidades */
            overflow: hidden;
        }

        .imagen-container img {
            width: 100%;
            height: auto;
            object-fit: cover; /* Puedes probar agregar esta propiedad */
        }
    </style>
{% endblock head %}
    

{% block titulo %}
    Obra Pública
{% endblock titulo %}

{% block contenido %}
    <div class="container">
        <div class="col-md-10"> 
            <div class="card text-dark bg-light shadow p-3 bg-light" style="font-family: Montserrat;">
                <h1>Detalles de la obra pública</h1>
                <p><strong>Folio MIDS:</strong> {{ obra.folio_mids }}</p>
                <p><strong>Nombre de la obra:</strong> {{ obra.nombre_obra }}</p>
                <p><strong>Descripción:</strong> {{ obra.descripcion }}</p>
                <p><strong>Municipio:</strong> {{ obra.municipio }}</p>
                <p><strong>Localidad:</strong> {{ obra.localidad }}</p>
                
                
                {% if imagenes.exists %}
                    <h2>Imágenes:</h2>
                    <table>
                        <thead>
                            <tr>
                                <th>En Proceso</th>
                                <th>Completado</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="imagen-container">
                                        {% for imagen in imagenes %}
                                            {% if imagen.es_proceso %}
                                                <img src="{{ imagen.imagen.url }}" alt="Imagen en proceso">
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </td>
                                <td>
                                    <div class="imagen-container">
                                        {% for imagen in imagenes %}
                                            {% if not imagen.es_proceso %}
                                                <img src="{{ imagen.imagen.url }}" alt="Imagen de terminación">
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                {% else %}
                    <a href="{% url 'completar_obra_publica' obra_id=obra.id %}" class="btn">Completar Obra Pública</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock contenido %}
