/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

main {
    width: 100%;
    height: 100%;
}

/* Estilos para la barra de navegación */
.desktop-nav {
    background-color: #a71e1c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 10vh;
}

.desktop-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.desktop-nav li {
    display: inline;
    margin-right: 20px;
    font-size: 3vh;
}

.desktop-nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* Estilos para el contenedor de la imagen */
.logo {
    display: flex;
    align-items: center;
}

.logo-bar {
    max-height: 9vh;
    display: flex;
    align-items: center;
}

.logo-bar2 {
    height: 40vw;
    width: 40vw;
    display: flex;
    align-items: center;
}

/* Estilos para el menú desplegable del usuario */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #a71e1c;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 2.5vh;
}

.dropbtncont {
    display: block;
    background-color: #a71e1c; /* Color de fondo del botón de usuario */
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    font-size: 2vh;
}

.dropdown-content {
    position: absolute;
    background-color: #a71e1c;
    z-index: 1;
    float: right;
    right: 10px;
    border-radius: 5px;
}

.dropdown-content a {
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    display: block;
    text-align: right;
    border-radius: 5px;
}

.dropdown-content a:hover {
    background-color: #921e1c; /* Color de fondo al pasar el mouse sobre un enlace */
}

.show {
    display: block;
}

/* Estilos para la flecha */
.arrow {
    font-size: 3vw;
}

#sidebar .dropbtn-mobile {
    background-color: #a71e1c;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
    list-style: none;
    text-align: center;
    font-size: 5vw;
    top: 100%;
}

#sidebar .user-info {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    padding: 5px 10px;
}

#sidebar .dropdown-content-mobile {
    right: 10px;
    position: absolute;
    background-color: #a71e1c;
    z-index: 1;
    width: 100%; /* Ajusta el ancho del dropdown al 100% del sidebar */
    top: 100%; /* Coloca el dropdown debajo del botón */
}

#sidebar .dropdown-content-mobile a {
    color: white;
    text-decoration: none;
    display: block;
    text-align: right;
    font-size: 5vw;
}

#sidebar .dropdown-content-mobile a:hover {
    background-color: #921e1c;
}

#sidebar ul {
    position: relative;
    height: 100%;
    padding: 0px 0px;
}

@media (min-width: 769px) {
    #sidebar {
        display: none; /* Oculta el sidebar en la vista de escritorio */
    }
}

@media (max-width: 768px) {
    .desktop-nav {
        display: none;
    }
    
    #sidebar {
        display: block;
    }
}

#sidebar {
    position: fixed;
    width: 70%;
    height: 100%;
    background: #a71e1c;
    left: -70%;
    transition: all 400ms linear;
}
  
#sidebar.active {
    position: absolute;
    left: 0%;
}
  
#sidebar li {
    position: relative;
    font-weight: bold;
    font-size: 5vw;
    list-style: none;
    padding: 20px 10px;
    border-bottom: 1px solid #921e1c;
    text-align: center;
}

#sidebar a {
    color: white !important;
    text-decoration: none !important;
}
  
/* Estilos para el ícono del sidebar */
#sidebar .fa.fa-bars {
    position: absolute !important;
    left: 110% !important;
    top: 5% !important;
    cursor: pointer !important;
    width: 10vw !important;
    height: 10vw !important;
    border: 2px solid #a71e1c !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    font-size: 9vw;
    color: #a71e1c !important;
}

#sidebar .fa.fa-times {
    position: absolute !important;
    left: 110% !important;
    top: 5% !important;
    cursor: pointer !important;
    width: 10vw !important;
    height: 10vw !important;
    border: 2px solid #a71e1c !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    font-size: 9vw;
    color: #a71e1c !important;
}