.container {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center; /* Alinea los elementos en la parte superior */
    text-align: center;
}

.btn-div {
    width: 70%;
    text-align: left;
    margin-bottom: 10px;
}

.btn {
    width: auto;
    height: auto;
    padding: 5px 15px;
    font-size: 2vh;
    color: white;
    background-color: #a71e1c;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;
}

/* Estilo de la tabla sin bordes y con margen entre celdas */
table {
    width: 70%;
    border-collapse: separate; /* Separación de las celdas */
    border-spacing: 0px 5px; /* Espacio entre celdas superior e inferior */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra suave */
}

/* Resalta el encabezado con fondo y texto */
th {
    color: white;
    background-color: #a71e1c;
    font-size: 2vh;
    padding: 8px;
    text-align: center;
}

/* Estiliza las celdas sin bordes */
td {
    font-size: 2vh;
    padding: 8px;
    border: none; /* Elimina los bordes */
    text-align: center;
}

/* Ajusta el estilo del botón */
.btn {
    width: auto;
    height: auto;
    padding: 5px 15px;
    font-size: 2vh;
    color: white;
    background-color: #a71e1c;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;
    display: inline-block; /* Para evitar que el botón se extienda al 100% de ancho */
    border: none; /* Elimina el borde del botón */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}

/* Estilo al ícono fa-eye */
.fa-eye {
    color: #000000;
}

/* Aplica estilos en pantallas más pequeñas */
@media (max-width: 768px) {
    .container {
        height: 100vh;
    }

    th {
        font-size: 2vw;
    }

    td {
        font-size: 2vw;
    }

    th, td {
        padding: 3px;
    }

    .btn-div {
        width: 90%;
    }

    table {
        width: 90%;
    }

    .btn {
        font-size: 2vw;
    }

    table .mobile-hidden {
        display: none;
    }
}


